*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color1: #203f9a;
  --color2: #ffffff;
  --color3: #363636;
  --color4: #3db166;
  --color5: #ff3c3c;

  --shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
  --radius: 20px;

  --modal-width-height: 85%;
}

/* NOTIFICATION STYLES START */
.notification-container {
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: max-content;
  padding: clamp(1em, 2vw, 2em);
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color4);
  z-index: 150;
  backdrop-filter: blur(3px);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  animation: animate-notification 0.4s ease-in-out;
  overflow: hidden;
}
.notification-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  background-color: var(--color3);
  animation: animate-notification-shadow 3s ease-in-out both;
  animation-delay: 0.3s;
}
.notification-container p {
  font-size: clamp(0.6em, 1.5vw, 1em);
  color: var(--color2);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.error-notification {
  background-color: var(--color5);
}
/* NOTIFICATION STYLES END */

.logo {
  max-width: clamp(5rem, 30vw, 8rem);
  max-height: clamp(5rem, 30vw, 8rem);
}

/* LOGIN STYLING START */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: clamp(1rem, 10vw, 10rem);
  padding: 5rem;
}
.login-image {
  width: clamp(10rem, 30vw, 30rem);
  height: clamp(10rem, 30vw, 30rem);
}
.login-fields-container {
  background-color: var(--color1);
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
.login-input-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 40%;
}
.login-input {
  background-color: transparent;
  outline: none;
  color: var(--color2);
  border-radius: var(--radius);
  border: 2px solid var(--color4);
  min-width: 100%;
  font-size: clamp(0.7rem, 1.4vw, 1.1rem);
  padding: 0.4em 0.8em;
}
.login-input::placeholder {
  color: #bbbbbb;
  opacity: 0.5;
}
.login-btn {
  color: var(--color2);
  font-weight: bold;
  font-family: "Poppins", sans-serif !important;
  font-size: clamp(0.7em, 1.6vw, 1em);
  background-color: transparent;
  text-transform: uppercase;
  padding: 1em 3em;
  box-shadow: 0 0 0 2pt var(--color4);
  border: none;
  border-radius: var(--radius);
  position: relative;
  z-index: 3;
  transition: box-shadow 300ms ease;
  overflow: hidden;
  cursor: pointer;
}

.login-btn::before {
  content: "";
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 300ms ease;
  background-color: var(--color4);
}
.login-btn:hover {
  box-shadow: none;
}
.login-btn:hover::before {
  opacity: 1;
}
.login-btn-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.login-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0 1em;
  font-size: clamp(0.7em, 1.6vw, 1em);
  text-align: center;
}
.btn {
  background-color: var(--color4);
  border: 1px solid var(--color4);
  border-radius: var(--radius);
  color: var(--color2);
  padding: 0.3em 1.5em;
  font-size: clamp(1em, 2vw, 1em);
  cursor: pointer;
}

/* LOGIN STYLING END */

/* SCHEDULE STYLING START */
.schedule-table {
  max-width: 100vw;
  font-family: "Poppins", sans-serif;
}
.schedule-table,
.schedule-table td,
.schedule-table th,
.schedule-table tr,
.schedule-table tbody,
.schedule-table thead {
  border: 1.5px solid #bbbbbb;
  border-collapse: collapse;
  font-size: 1em;
}
.schedule-table td {
  padding: 0.3em;
  max-width: fit-content;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease;
}
td:nth-child(1):hover {
  background: var(--color1) !important;
  cursor: unset;
}
td:hover {
  background-color: #dfdcfdb9 !important;
}
.schedule-table th {
  padding: 0.3em;
  text-align: center;
  background-color: var(--color1);
  color: var(--color2);
}
.block {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-family: "Segoe UI" !important;
}
.class-span {
  display: flex;
  flex-direction: column;
  margin-block: 2em;
  font-family: "Segoe UI" !important;
}
.start-time {
  color: var(--color1);
}
.end-time {
  color: var(--color5);
}
.room {
  background-color: var(--color1);
  color: var(--color2);
}
.llb-row th {
  background-color: var(--color3) !important;
}
/* SCHEDULE STYLING END */

/* FILTER STYLING START */
.filter-container {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.filter-select {
  background-color: transparent;
  outline: none;
  color: var(--color3);
  border-radius: var(--radius);
  border: 2px solid var(--color1);
  min-width: 10%;
  font-size: clamp(0.7rem, 1.4vw, 1.1rem);
  padding: 0.4em 0.8em;
  font-family: "Poppins", sans-serif;
}
.filter-select :hover {
  outline: none;
  background-color: var(--color4);
  color: var(--color1);
}

/* MODAL STYLING START */
.modal-container {
  position: fixed;
  font-family: "Poppins", sans-serif !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.modal-content {
  background-color: var(--color2);
  box-shadow: var(--shadow);
  width: var(--modal-width-height);
  height: var(--modal-width-height);
  border-radius: var(--radius);
  overflow: hidden;
}
.modal-heading {
  background-color: var(--color1);
  color: var(--color2);
  display: flex;
  flex-direction: column;
  height: 6rem;
  justify-content: center;
  align-items: center;
}
.modal-main-heading {
  width: 95%;
  display: flex;
  justify-content: space-between;
  height: 50%;
  align-items: center;
}
.line-break {
  width: 100%;
  height: 1px;
  background-color: var(--color2);
}
.modal-time-heading {
  height: 50%;
  width: 95%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
}
.modal-body {
  height: calc(100% - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.modal-row {
  display: flex;
  /* height: calc(calc(100% - 6rem) / 4); */
  width: 95%;
  align-items: center;
  /* margin: auto; */
  justify-content: space-between;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  align-items: center;
  justify-content: space-between;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 100;
  overflow: hidden;
  position: relative;
  background-color: var(--color5);
  transition: all 300ms ease;
}
.modal-btn {
  background-color: transparent;
  border: none;
  border-radius: 12px;
  font-family: "Poppins", sans-serif !important;
  color: var(--color2);
  padding: 0.5em 1em;
  z-index: 100;
  font-size: clamp(1em, 2vw, 1em);
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.modal-btn::after,
.icon-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color3);
  width: 20px;
  z-index: -1;
  height: 20px;
  border-radius: 50%;
  transform: translate(-100%, -100%);
  transition: all 600ms ease;
}
.modal-btn:hover::after,
.icon-container:hover::after {
  transform: translate(0, 0);
  transform: scale(30, 30);
}
.icon-container:hover::after {
  transform: scale(6, 6);
}
.modal-btn:hover,
.modal-btn:focus {
  transform: scale(1.05);
  box-shadow: var(--shadow);
}
.icon-container:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.3);
}
.add-class-btn {
  background-color: var(--color1);
  box-shadow: none;
  font-size: large;
  text-transform: none;
}
.delete-class-btn {
  background-color: var(--color5);
  box-shadow: none;
  font-size: large;
  text-transform: none;
}
.btn-container {
  display: flex;
  /* margin-bottom: 2rem; */
  gap: 4rem;
}
.cancel-btn {
  background-color: var(--color5);

  text-transform: none;
}
.submit-btn {
  background-color: var(--color4);
  text-transform: none;
  color: var(--color2);
}

.search-select {
  width: 17%;
}
input[type="time"] {
  height: 38px;
  width: 17%;
  outline: none;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 2px 8px;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  position: relative;
  color: hsl(0, 0%, 20%);
  transition: all 100ms;
}
input[type="time"]::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 80%;
  width: 1px;
  height: 60%;
  background-color: hsl(0, 0%, 80%);
}
input[type="time"]:hover {
  border-color: hsl(0, 0%, 70%);
}
input[type="time"]:disabled {
  background-color: hsl(0, 0%, 95%);
  border-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 60%);
}
input[type="time"]:disabled::after {
  background-color: hsl(0, 0%, 90%);
}
/* MODAL STYLING END */

/* CONFIRMATION MODAL STYLING START */
.confiramtion-modal-container {
  position: fixed;
  font-family: "Poppins", sans-serif !important;
  top: calc(--modal-width-height / 2);
  left: calc(--modal-width-height / 2);
  width: var(--modal-width-height);
  height: var(--modal-width-height);
  z-index: 1000;
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}
.confirmation-modal-content {
  height: 20%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color2);
  gap: 1rem;
  border-radius: var(--radius);
  color: var(--color2);
  font-size: clamp(0.5em, 1.4vw, 1em);
  text-align: center;
}
.confirmation-modal-header {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
  border-radius: var(--radius);
}
.confirmation-modal-body {
  margin-bottom: 1.5rem;
}
/* CONFIRMATION MODAL STYLING END */

/* FILTER STYLING END */

@media screen and (max-width: 550px) {
  .login-input-container {
    width: 70%;
  }
  .login-image-container {
    display: none;
  }
  .login-container {
    padding: 2rem;
  }
}

@keyframes animate-notification {
  0% {
    top: -100px;
  }
  100% {
    top: 2em;
  }
}

@keyframes animate-notification-shadow {
  0% {
    left: -110%;
  }
  100% {
    left: 0%;
  }
}
